<iframe  class="w-full h-full absolute" src="https://www.youtube.com/embed/r_pUE7OcN8w?autoplay=1&mute=1&loop=1&controls=0"></iframe>

<div class="h-screen bg-white">
  <div class="pt-[20%] px-24 absolute h-full text-white h-full bg-gradient-to-r from-black">
    <h1 class="font-bold text-6xl">Techcast By Syed</h1><p class="inline-block py-6 text-xl w-1/4 flex-wrap">👋 Welcome to this exciting Angular tutorial where we'll be diving into the world of web development by building a Netflix Clone from scratch using Angular and enhancing its aesthetics with the power of Tailwind CSS!

    🛠️ Project Overview:
    In this step-by-step guide, we'll cover the entire process of creating</p>
    <button class="bg-white text-black py-4 px-12 text-xl rounded-lg hover:bg-opacity-70 transition-[1s]">
      ▶️ Play
    </button>
    <button class="mx-2 bg-gray-500 text-white px-12 py-4 text-xl bg-opacity-50 rounded-lg">
      More Info
    </button>
  </div>
</div>
